body{
	font-size: 1.2vw;
	margin: 1%;
	background-color: black;
	color: white;
	font-family: Avenir Next, sans-serif;
}

.slider{
    width: 9vw;
    height: 1vh;
    -webkit-appearance: none;
    appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

#canvascontainer{
	overflow: hidden;
}

#reset{
	float: right;
	margin-right: 19vw;
	border-radius: 16px;
	width: 5vw;
	text-align: center;
}
#reset:hover{
	background-color: #ffe500;
	color: black;
}

#hidden{
	padding: 1%;
	font-size: 1.4vw;
	background-color: #ffe500;
	visibility: hidden;
	border-radius: 16px;
	color:black;
	text-align: center;
}
